project_1/03_gcp_payments.yaml
id: 03_gcp_payments
namespace: project_1

variables:
  file: "bs.csv"
  zip_file: "banksim1.zip"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.bs"
  data: "{{outputs.download_and_extract.outputFiles['bs.csv']}}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"

  - id: download_and_extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO {{render(vars.zip_file)}} https://www.kaggle.com/api/v1/datasets/download/ealaxi/banksim1
      - unzip -o {{render(vars.zip_file)}}
      - mv bs140513_032310.csv {{render(vars.file)}}

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: bq_payment_data
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.bs`
      (
          unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
          filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),
          step INTEGER OPTIONS (description = ''),
          customer  STRING OPTIONS (description = ''),
          age STRING OPTIONS (description = ''),
          gender STRING OPTIONS (description = ''),
          zipcodeOri STRING OPTIONS (description = ''),
          merchant STRING OPTIONS (description = ''),
          zipMerchant STRING OPTIONS (description = ''),
          category STRING OPTIONS (description = ''),
          amount NUMERIC OPTIONS (description = ''),
          fraud INTEGER OPTIONS (description = '')
      )
      ;

  - id: bq_payment_data_ext
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
      (
          step INTEGER OPTIONS (description = ''),
          customer  STRING OPTIONS (description = ''),
          age STRING OPTIONS (description = ''),
          gender STRING OPTIONS (description = ''),
          zipcodeOri STRING OPTIONS (description = ''),
          merchant STRING OPTIONS (description = ''),
          zipMerchant STRING OPTIONS (description = ''),
          category STRING OPTIONS (description = ''),
          amount NUMERIC OPTIONS (description = ''),
          fraud INTEGER OPTIONS (description = '')
      )
      OPTIONS (
          format = 'CSV',
          uris = ['{{render(vars.gcs_file)}}'],
          skip_leading_rows = 1,
          ignore_unknown_values = TRUE
      );

  - id: bq_payment_data_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(customer AS STRING), ""),
          COALESCE(CAST(merchant AS STRING), ""),
          COALESCE(CAST(category AS STRING), ""),
          COALESCE(CAST(amount AS STRING), ""),
          COALESCE(CAST(fraud AS STRING), "")
        )) AS unique_row_id,
        "{{render(vars.file)}}" AS filename,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: bq_payment_data_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.bs` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (unique_row_id, filename, step, customer, age, gender, zipcodeOri, merchant, zipMerchant, category, amount, fraud)
        VALUES (S.unique_row_id, S.filename, S.step, S.customer, S.age, S.gender, S.zipcodeOri, S.merchant, S.zipMerchant, S.category, S.amount, S.fraud);


  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"